{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pomodoro</title>
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
    
</head>
<body>
    <h1>Pomodorooo</h1>

    <!-- Timer section that shows minutes and seconds -->
    <div class="timer">

        <!-- Timer minute count, starts at 25 minutes -->
        <span id="minutes">1</span>:<span id="seconds">00</span>
    </div>

    <!-- Buttons to control the timer -->
    <div class="buttons">

        <!-- Button to start the timer -->
        <button onclick="startTimer()">Start</button>
        
        <!-- Button to pause the timer -->
        <button onclick="pauseTimer()">Pause</button>

        <!-- Button to reset the timer -->
        <button onclick="resetTimer()">Reset</button>
    </div>
    
    <audio id="workEndAlarm" src="{% static 'tasks/sounds/annoying_alarm_clock.mp3' %}" preload="auto"></audio>
    <audio id="breakEndAlarm" src="{% static 'tasks/sounds/morning_flower.mp3' %}" preload="auto"></audio>


    <script src="{% static 'tasks/script.js' %}" preload = "audio" ></script>
    
</body>
</html>
